/* https://help.salesforce.com/s/articleView?id=release-notes.rn_lwc_css_share.htm&type=5&release=226 */
/* https://salesforce.stackexchange.com/questions/291394/importing-a-common-css-in-lwc */
@import 'c/unicons';
@import 'c/cmCSS';

  body {
	color: var(--color-dark-text);
	/* font-family: "Source Sans Pro", sans-serif; */
	font-family: sans-serif;
  }

  .top-gradient {
	/* position: absolute;
    top: -100px;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(#35c3c34d, #00000000) no-repeat;
    z-index: 0; */
	position: fixed;
    top: -30vh;
    border-radius: 50%;
    width: 150vw;
    height: 60vh;
    opacity: 20%;
    backdrop-filter: blur(20px);
    z-index: 0;
    background: var(--color2);
    box-shadow: 0px 0px 120px 160px var(--color2);
  }

  .bottom-gradient {
	position: fixed;
    bottom: -30vh;
    border-radius: 50%;
    width: 150vw;
    height: 40vh;
    opacity: 40%;
    backdrop-filter: blur(20px);
    z-index: 0;
    background: var(--color3);
    box-shadow: 0px 0px 120px 160px var(--color3);
  }
  
  h1 {
	position: relative;
    top: -16px;
    color: white;
    font-size: 2.5rem;
    font-weight: 800;
    /* font-family: Bebas; */
  }
  
  .wrapper {
	display: flex;
	margin: 0 auto;
	padding: 0;
	flex-direction: column;
	align-items: center;
	width: 90vw;
  }
  
  header {
	width: 100vw;
    text-transform: uppercase;
    top: 0;
    justify-content: center;
    overflow: hidden;
  }

  .top-spacer {
	padding: 2.5rem;
  }
  
  .content {
	width: 100%;
	min-height: 50vh;
    position: relative;
    top: -230px;
  }

  .title {
	align-items: center;
    width: 100%;
    position: relative;
    top: -220px;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    z-index: 2;
  }

  .title .name {
	color: #AFD1D1;
    font-weight: 600;
  }
  
  .bg-image {
	display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: -12px;
  }

  .bg-image img {
	opacity: 15%;
    width: min(100vw, 21rem);
    position: relative;
    top: -35px;
    z-index: 1;
  }

  .loading_div {
	display: flex;
    position: absolute;
    justify-content: center;
    height: 60vh;
    width: 100%;
    align-items: center;
  }

  .loading_div img {
	width: 125px;
    opacity: 40%;
	animation: glow 1s ease-in-out infinite;
  }

  @keyframes glow {
	0% {
		transform: scale(.75);
	}
	50% {
		transform: scale(1);
	}
	100% {
		transform: scale(.75);
	}
  }
  
  nav {
	display: flex;
    /* grid-template-columns: 1fr 1fr 1fr 1fr; */
    justify-content: space-around;
    /* gap: 1rem; */
    width: 100vw;
	align-items: center;
    /* margin: 0 auto; */
    /* justify-items: center; */
  }
  
  nav img {
	  width: 1.5rem;
	/* width: calc(1.5vw + 20px); */
	cursor: pointer;
  }

  nav a.active {
	/* border-bottom: 4px solid var(--color2); */
	/* padding: 0.25rem; */
	
	padding: 0.5rem;
	border-radius: 50%;
	background: var(--color2);
  }

  .nav-btn {
    padding: 1rem;
  }

  .active {
	fill: var(--color4);
    color: var(--color4);
    background-color: rgb(256,256,256,0.25);
    border-radius: 0.5rem;
  }
  
  .bottom-spacer {
	padding: 2rem;
  }
  
  footer {
	display: flex;
    position: fixed;
    bottom: 0;
    background: var(--color4);
    height: 70px;
    width: 100%;
    z-index: 10;
    justify-content: center;
  }
  
  footer button {
	cursor: pointer;
	color: var(--color-dark-text);
	border: 0;
	padding: 0.5rem 3rem;
	box-shadow: 0px 4px 4px
	  rgba(var(--color-dark-1-rgb), var(--box-shadow-opacity));
	border-radius: 0.5rem;
	background: linear-gradient(150deg, var(--color1), var(--color2));
  }
  
  /* footer button:hover {
	background: var(--color2);
	box-shadow: none;
  } */

  lightning-spinner {
	top: 15rem !important;
  }
  
  .nav-input {
	position: absolute;
	transform: scale(0);
  }

  .nav-button {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: 1.5rem;
	color: white;
	/* padding: 0.5rem; */
  }

  .nav-icon {
	transition: all 0.35s;
  }
  
  .nav-text {
	/* font-size: 10px; */
	position: absolute;
	left: 50%;
	/* bottom: 0; */
	transform: translateX(-50%);
	color: var(--color2);
	visibility: hidden;
	opacity: 0;
	transition: all 0.35s;

	font-weight: 800;
	font-size: 20px;
	bottom: -7px;
  }

  .nav-input:checked ~ 
  .nav-button {
	color: var(--color2);
  }

  .nav-input:checked ~
  .nav-button .nav-text {
	visibility: visible;
	opacity: 1;
  }

  .nav-input:checked ~
  .nav-button .nav-icon {
	transform: translateY(-5px);
  }